* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.full-space {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto 0;
}

.container h1 {
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.3);
}

.container h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.2);
}

.texto {
    height: 300px;
    min-width: 400px;
    width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-ler {
    background-color: rgb(0, 255, 120);
    color: #fff;
    font-size: 30px;
    height: 50px;
    width: 390px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-ler:hover {
    background-color: rgb(0, 200, 60);
}

.btn-pausar {
    background-color: rgb(255, 0, 0);
    color: #fff;
    height: 50px;
    width: 390px;
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-pausar:hover {
    background-color: rgb(200, 0, 0);
}

-----
.speak-chat {
    margin-right: 20px;
}

.btns-speak {
    display: flex;
    flex-direction: row;
}

.btn-falar {
    background-color: rgb(0, 255, 120);
    color: #fff;
    font-size: 20px;
    height: 85px;
    width: 170px;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-falar:hover {
    background-color: rgb(0, 200, 60);
}

.btn-pararFala {
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-size: 20px;
    height: 85px;
    width: 170px;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-pararFala:hover {
    background-color: rgb(200, 0, 0);
}

#chat {
    margin: 30px;
    padding: 10px;
    width: 320px;
    height: 550px;
    background-color: #ddd;
    border-radius: 16px;
    border: 1px solid #777;
}
-----

.customize {
    display: flex;
    flex-direction: row;
}

.idioma {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mudar-ingles,
.mudar-portugues {
    width: 200px;
    font-size: 15px;
    font-weight: bolder;
    
    margin-top: 20px;
    padding: 7px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.mudar-portugues {
    background-color: rgba(200, 200, 200, 0.3);
}

.mudar-ingles {
    background-color: rgb(0, 0, 0);
    color:#fff;

    margin-left: 20px;
    margin-right: 20px;
}

.mudar-portugues:hover {
    box-shadow: 0px 0px 15px black;
}

.mudar-ingles:hover {
    box-shadow: 0px 0px 15px black;
}

.aumentar {
    width: 50px;
    padding: 4px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bolder;
}

.reproducao {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

.reproducao h3 {
    margin-top: 8px;
    font-size: 14px;
}